@import url("grid.css");

*{
  box-sizing: border-box;
}
html {
background-image: linear-gradient(rgba(173, 255, 47, 0.46), forestgreen);
}
body{
  font-family: 'Judson', serif;
  font-size: 18px;
  color: midnightblue;
}
/* ------------Main page (index.html)----------*/


/*-------------header-------------------*/

.header{
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(173, 255, 47, 1), forestgreen) ;
  /*background-image: url("img/jungles.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  padding: 15px 25px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 1px 20px 9px rgba(238, 145, 255, 0.46), inset -1px -6px 20px 1px rgba(238, 145, 255, 0.46);

}
/*-------------Main--------------*/

.main {
  padding-right:200px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 30px;
  position: relative;
}

.short_articles {
  padding-top: 30px;
}

.article-shorts {
  display: flex;
  padding: 10px;
  padding-right: 10px;
  background-color: palegreen;
  box-shadow: 0px 0px 20px 5px rgba(211, 0, 255, 0.5);
  margin-bottom: 50px;
  margin-right: 15px;
}

.main_shorts_img{
  flex-basis: 150px;
   flex-shrink: 0;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin-right: 20px;
   display: flex;
}

.article-heading{
  font-family: 'Pacifico',cursive;
  font-size: 25px;
  color: #9520ad;
  text-shadow: 12px 6px 5px limegreen;
}


h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: lightyellow;
  padding-left: 40px;
  }
  h2 {
    font-family: 'Pacifico',cursive;
    font-size: 30px;
    color: #9520ad;
    text-shadow: 12px 6px 5px limegreen;

  }
  h3 {
    font-family: 'Pacifico',cursive;
    font-size: 20px;
    color: lightyellow;
  }

.top-links{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: lightyellow;
    margin: 5px 10px;
    text-decoration: none;
    transition: color .3s ease .3s, font-size 0.3s ease-out;
}

.top-links:hover{
  font-size: 35px;
  color: #9520ad;
}

.article_readmore-link{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: rgba(211, 0, 255, 1);
}
/*--------------Aside-------------*/
.aside {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 120px;
  width: 200px;
  background-image: linear-gradient(rgba(173, 255, 47, 0.46), forestgreen) ;
  box-shadow: inset rgba(255,255,255,0.2) 8px  8px 18px 5px,
             inset rgba(0,0,0,0.5)      -8px -8px 18px 5px;
  /*left: 90%;*/
  padding: 20px 30px 20px 10px;
  /*padding-top: 40px;*/
}
.aside_heading{
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 12px 6px 5px limegreen;
  animation-name: turningHeading;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-direction: reverse;
}

@keyframes turningHeading {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }

}

.nav_for_aside{
  margin-bottom: 15px;
  text-align: center;
}

.article_aside-link{
  font-family: 'Pacifico',cursive;
  font-weight: 600;
  font-size: 30px;
  color: lightyellow;
  /*border-bottom: 1px solid rgba(243,213,151,.37);*/
  text-decoration: none;
  font-style: normal;
  /*transition: color 1s ease 1s, font-size 2s ease-out;*/
}
/*.aside_links:hover {
  font-size: 35px;
}*/
.food{
  display: inline-block;
  padding: 15px;
}

/* -------------------Footer------------------*/
.footer {
    font-family: 'Pacifico',cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*position:fixed;*/
  background-image: url("img/jungles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  line-height: 20px;
  color: lightyellow;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  text-decoration: none;
}

.footer_tel{
  margin: 0;


}
.footer_email{
  margin: 0;

}
.footer_tel_link{
  color: lightyellow;
  border-bottom: 2px solid lightyellow;
  text-decoration: none;
}
.footer_email_link{
  color: lightyellow;
  border-bottom: 2px solid lightyellow;
  text-decoration: none;
}



/* --------- Contacts------------*/

.main_contacts{
  height: 700px;
    padding-right:200px;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 30px;
    position: relative;
    /*background-image: url("img/palmback.jpg");
    background-size: cover;
    background-repeat: repeat-y;*/
}

/*----------Gallery-------------*/
.main-gallery{
  margin-top: 60px;
  padding-right:200px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 30px;
  position: relative;
  margin-left: 15%;
}
.gallery-body div{
    box-shadow: 0px 0px 20px 5px rgba(211, 0, 255, 0.55);
}
.gallery-body {
  display: grid;
  /*min-height: 100vh;*/
  grid-template-columns:256px 256px;
  grid-template-rows:repeat(6, 256px);
  grid-gap: 20px;
}
.l1-2_t1 {
  background-image: url('gallery/img-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}
.l3_t1{
  background-image: url('gallery/img-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}
.l4-5_t1{
  background-image: url('gallery/img-7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}
.l1_t2{
  background-image: url('gallery/img-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 20px;
}
.l2_t2{
  background-image: url('gallery/img-9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 20px;
}
.l3-4_t2{
  background-image: url('gallery/img-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 20px;
}

.dTp {
  height: 100%;
  background-color: rgba(211, 0, 255, 0.26);
  color: white;
  opacity:0;

}
.dTp:hover{
  opacity:1;
}
.l5_t2{
  background-image: url('gallery/img-5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 20px;
}

/*--------------trying to go Grid for all pages----------*/

.grid_for_project {
    display: grid;
    min-height: 100vh;
    grid-template-columns:85% 15%;
    grid-template-rows:15% 1fr 10%;
    }

.headerForEverything{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.mainForEverything{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.bodyForEverything{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.asideForEverything{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.footerForEverything{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}


/*--------------Article 1 - Ao Dai--------------*/

.navForArticle{
  font-family: 'Judson',cursive;
  color: #471365;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}







/*Эксперементы и прочее прочее*/
/* background-img*/

.background-img-svg {
  width: 700px;
  height: 100px;
  margin: 100px;
  background-image: url("img/shrimp.svg");
  background-repeat: repeat;
}

.background-img-img {
  width: 300px;
  height: 100px;
  margin: 100px;
  background-image: url("img/img-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;:
}







/*flexbox*/

.flex-container {
  display: flex;
  height: 400px;
  background-color: seashell;
  border: 1px solid blue;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  /*align-items: center;*/
  align-content: stretch;
}

.flex-element {
  width: 300px;
}

.flex-element-1 {
  background-color: green;
  order:5;
}

.flex-element-2 {
  background-color: seagreen;
  order: 3;
}

.flex-element-3 {
  background-color: mediumseagreen;
  order: 1;
  flex-grow: 5;

}

.flex-element-4 {
  background-color: springgreen;
  order: 4;
}

.flex-element-5 {
  background-color: palegreen;
  order: 2;
}
/* --------------Background color---------*/
.background-color{
  width:200px;
  height: 200px;
  background-color: salmon;
  position: relative;
}

.background-color-child{
  width:200px;
  height: 200px;
  background-color: peachpuff;
  background-image: url("img/wine.svg");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid red;
}

/* -------gradient------*/

.linear-gradient{
  background-image: linear-gradient(lime, gold);
  width:200px;
  height: 200px;
  margin: 60px;
}

.linear-gradient-1{
  background-image: linear-gradient(to top left, olive, gold);
  width:200px;
  height: 200px;
  margin: 60px;
}

.linear-gradient-2{
  background-image: linear-gradient(90deg, papayawhip, chocolate);
  width:200px;
  height: 200px;
  margin: 60px;
}
.linear-gradient-3{
  background-image: linear-gradient(papayawhip, firebrick, peachpuff);
  width:200px;
  height: 200px;
  margin: 60px;
}
.linear-gradient-4{
  background-image: linear-gradient(gold 15%, sienna 60%, peachpuff 40%, skyblue);
  width:200px;
  height: 200px;
  margin: 60px;
}
/*---------radial-gradient---------------*/

.radial-gradient{
  width:200px;
  height: 200px;
  margin: 60px;
  background-image: radial-gradient(honeydew, navy);
}
.radial-gradient-1{
  width:200px;
  height: 200px;
  margin: 60px;
  background-image: radial-gradient(at left bottom, mistyrose, aquamarine);
}
.radial-gradient-2{
  width:200px;
  height: 200px;
  margin: 60px;
  background-image: radial-gradient( circle, honeydew, lightgreen);
}


.gradient-generator{
  width:200px;
  height: 200px;
  margin: 60px;
  background-image: radial-gradient(ellipse at center, #78ccae 3%,#d8f2f2 26%,#d8f2f2 26%,#b0e4e6 52%,#d8eff2 72%,#d9f3ef 86%,#f5fbf6 100%);
}


.box-shadow{
  width:250px;
  height: 150px;
  margin: 70px;
  box-shadow: 10px 15px 5px 1px navy;
  background-color: honeydew;
  border: 2px solid skyblue;
}
.box-shadow-inset {
  width:250px;
  height: 150px;
  margin: 70px;
  box-shadow: inset 0px 2px 40px 20px salmon;
  background-color: lightsalmon;
  border: 2px solid red;
}

.calc-parent{
  height: 300px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom:30px;
  display: flex;
  border: 1px solid salmon;

}
.calc-child{
width: calc(50% - 20px);
margin: 0 10px;
background-color: blue;
}
.calc-parent-part{
  display: flex;
  height: 200px;
  border: 1px solid red;

}
.calc-child-part{
  display: flex;
  margin: 0 5px;
  background-color: gold;
  width: calc(100% / 7 - 10px);
}

.calc-parent-2{
  display: flex;
  height: 200px;
  border: 1px solid gray;
  margin: 50px;


}

.calc-child-responsive{
  width: calc(100% - 70px);
  background-color: lightsalmon;
}
.calc-child-fixed{
  background-color: pink;
  width: 50px;
  margin-left: 20px;

}

.hover{
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;
  margin-bottom: 200px;
}
.hover:hover {
  background-color: black;
}

.link-hover{
  color: lime;
  font-size: 36px;
}
.link-hover:hover{
  text-decoration: none;
  color: black;
}

.focus{
height: 50px;
border: 1px solid firebrick;
border-radius: 10px;
outline: 0;
padding: 10px;
width: 150px;
}
.focus:focus{
  box-shadow: inset 0 0 15px 0 rgba(0,0,0,.8)
}

.body-components{
  background-color: linen;
}
/* pseudo-class experement*/

.pseudo-classes-parent{
  padding: 20px;
  border: 1px dashed brown;
  margin-top: 20px;
}
.pseudo-classes-child{
  height: 20px;
  margin: 20px;
  border: 1px solid orange;
}
.pseudo-classes-child:first-child{
  background-color: skyblue;
  margin-top: 0;
}
.pseudo-classes-child:last-child{
  background-color: red;
  margin-bottom: 0;
}

.pseudo-classes-child:nth-child(odd){
  background-color: navy;
}

.pseudo-elements:before {
  content: 'Oi Doi Oi';
  color: red;
}
.pseudo-elements:after {
  content: 'Troi Oi';
  color: blue;
}

/* transition*/

.transition-color{
  font-size: 30px;
  color:aquamarine;
  transition: color 1s ease 1s, font-size 2s ease-out;
}
.transition-color:hover {
  color: dimgray;
  font-size: 50px;
}

.transition-left{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  position: relative;
  left: 0;
  transition: left 3s ease-in 1s, width 2s linear;
}
.transition-left:hover{
  left: 200px;
  width: 300px;
}


/* jumping balls*/
.balls {
  width: 4em;
  height: 4em;
  margin-top: 6em;
  background: transparent;
  border-radius: 70%;
  justify-content: space-between;
  box-shadow:
    2em 0 0 lightsalmon,
    4em 0 0 indianred,
    6em 0 0 coral,
    8em 0 0 floralwhite,
    10em 0 0 peachpuff,
    12em 0 0 darksalmon,
    14em 0 0 tan,
    16em 0 0 chocolate,
    18em 0 0 tomato,
    20em 0 0 salmon;
    animation: boxshadow 3s infinite;
}

@keyframes boxshadow {
  50% {
    box-shadow:
      16em 0 0 chocolate,
      12em 0 0 darksalmon,
      2em 0 0 lightsalmon,
      18em 0 0 tomato,
      6em 0 0 coral,
      10em 0 0 peachpuff,
      4em 0 0 indianred,
      20em 0 0 salmon,
      8em 0 0 floralwhite,
      14em 0 0 tan;
  }
}


/* transform translate*/

.transform_parent{
  display: flex;
  margin: 50px;
}

.translate_parent{
  width: 300px;
  height: 200px;
  margin:30px;
  position: relative;
  background-color: gray;

}

.translate_child{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  border: 2px solid black;
}

.translate_child-1{
  transform: translate(100px);
  z-index: 2;
}
.translate_child-2{
  transform: translate(80px,30px);
}

.rotate-parent{
  width: 300px;
  height: 200px;
  margin:30px;
  position: relative;
  background-color: gray;

}

.rotate-child{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  border: 2px solid black;
}

.rotate-child-1{
  transform: rotate(100deg);
}

.rotate-child-2{
  transform: rotate(-30deg);
}

.scale-parent{
  width: 300px;
  height: 200px;
  margin:30px;
  position: relative;
  background-color: gray;

}

.scale-child{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  border: 2px solid black;
}
.scale-child-1{
  transform: scale(2.5);
}

.scale-child-2{
  transform:scale(-1, .5);
}

.skew-parent{
  width: 300px;
  height: 200px;
  margin:30px;
  position: relative;
  background-color: gray;

}

.skew-child{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  border: 2px solid black;
}
.skew-child-1{
  transform: skew(-70deg);
}

.skew-child-2{
  transform:skew(-10deg, 50deg);
}

.transform-origin-parent{
  width: 300px;
  height: 200px;
  margin:30px;
  position: relative;
  background-color: gray;

}

.transform-origin-child{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  border: 2px solid black;
  transform: rotate(45deg);
}

/*animation*/
.animation-1{
  width: 300px;
  height: 300px;
  border: 2px dashed orange;
  background-color: red;
  animation-name: animation-bg-color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.animation-1:hover{
  animation-play-state: paused;
}
@keyframes animation-bg-color {
  from{
    background-color: yellow;
    transform: translate(0,0);
    width:300px;
    box-shadow: 0 0 5px 5px rgba(255,255,255,.6);
  }
  to{
    background-color: goldenrod;
    transform: translation(50px,100px);
    width:500px;
    box-shadow: 0 0 50px 50px rgba(255,255,255,1);
  }
}
.animation-2{
  width: 300px;
  height: 300px;
  background-color: gold;
  opacity:0,8;
  animation-name: animation-rotate;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: reverse;

}
@keyframes animation-rotate{
  0%{
    transform: rotate(0);
  }

  50%{
    transform: rotate(-90deg);
  }


  100%{
    transform: rotate(360deg);
  }
}

/*---------------------------*/

.toggled{
  background-color: salmon;
}
